@using Klingsten.CVScoringSystem.Shared.Managers
<MudGrid>
    <MudItem xl="12" lg="12" xs="12" xxl="12" md="12" sm="12">
        <MudToolBar Style="@($"background-color:{_theme.Palette.Primary }; color:{_theme.Palette.AppbarText }")">
            <MudText>@ScoreCard?.Name</MudText>
            <MudSpacer/>
            @if (_completed)
            {
                <MudChip Text="Score" Color="Color.Error">@ScoreCard.Score</MudChip>
            }
        </MudToolBar>
    </MudItem>
    @foreach (var metric in _metrics)
    {
        <MudItem xl="6">
            <MudExpansionPanels MultiExpansion="true">
                <MudExpansionPanel MaxHeight="6000">
                    <TitleContent>
                        <h3 >@metric.Name (@metric.Vector) Description</h3>
                    </TitleContent>
                    <ChildContent>
                        <MudText GutterBottom="true">@((MarkupString)$"{@metric.Descricption}")</MudText>
                    </ChildContent>
                </MudExpansionPanel>
            </MudExpansionPanels>
            <CvsMetrics Metric="metric" OnMetricValueSet="OnMetricScoreSet"></CvsMetrics>
        </MudItem>
    }
</MudGrid>

@code {

    MudChip? _selected;
    MudTheme _theme = new();
    bool _completed;
    int _completedCount;
    bool _isInitialized;
    IEnumerable<Metric> _metrics = new List<Metric>();

    [Parameter]
    public ScoreCard ScoreCard { get; set; } = null!;
    [Parameter] 
    public EventCallback<ScoreCard> OnScoreCardCompleted { get; set; }

    protected override void OnInitialized()
    {
        if(_isInitialized) return;;
        _isInitialized = true;
        _metrics = ScoreCard.Metrics;
        StateHasChanged();
    }

    private void OnMetricScoreSet(Metric metric)
    {
        _completedCount++;
        if (_completedCount <= _metrics.Count() - 1) return;

        var vectorStringArray = _metrics.Select(m => m.ToVectoryStringValue()).ToArray();
        var vectorString = $"CVSS:3.1/{string.Join('/', vectorStringArray)}";
        ScoreCard.VectorString = vectorString;

        OnScoreCardCompleted.InvokeAsync(ScoreCard);
        _completed = true;
        StateHasChanged();
    }
}