@inherits LayoutComponentBase
@inject IEventService EventService

<MudThemeProvider @bind-IsDarkMode="@_preferences.IsDarkMode" Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/PowerCommands/CVScoringSystem" Target="_blank" />
        <a href="https://www.first.org/cvss/" target="_blank"><MudImage Src="images/cvss_web.png"  Class="rounded-lg" Width="32" Height="32" /></a>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">@ClientConfiguration.Name</MudText>
        </MudDrawerHeader>
        <NavMenu />
        <MyPreferences Preferences="_preferences"></MyPreferences>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen;
    readonly MudTheme _theme = new();
    readonly Preferences _preferences = new();
    
    void DrawerToggle() => _drawerOpen = !_drawerOpen;
    
    protected override void OnInitialized()
    {        
        EventService.UserPreferencesChanged += preferences =>
        {
            _preferences.IsDarkMode = preferences.IsDarkMode;
            _preferences.ShowMetricDecription = preferences.ShowMetricDecription;
            StateHasChanged();
        };
    }
}